N8N Workflows/generate-questions.json
{
  "name": "generate-questions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-questions",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8adfb82a-16f3-4100-b316-bdf0906ca05e",
      "name": "Webhook",
      "webhookId": "1c35847d-348e-4052-a8cb-5390d6acf148"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        0
      ],
      "id": "5523afc2-ae56-4fea-a12e-ac5bec361e9d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT chunk_text FROM chunks\nWHERE document_id = '{{ $('Webhook').first().json.body.document_id }}'\nORDER BY RANDOM()\nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "id": "ab993b7a-4952-4df1-93b1-a5f97c228d03",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "p26AYoDTCVsFKQaV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Change the path to match DeepSeek's output\nconst rawText = $input.first().json.choices[0].message.content;\n\n// 2. Clean up the markdown code blocks if the AI added them\nconst cleanText = rawText.replace(/```json/g, '').replace(/```/g, '').trim();\n\n// 3. Parse it into an actual list\nconst parsed = JSON.parse(cleanText);\nreturn {\n  json: {\n    summary: parsed.summary,\n    questions: parsed.questions\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "1681381c-674d-407e-b2c5-4a684d8aa5ca",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    \"model\": \"deepseek-chat\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"You are a helpful assistant. You MUST detect the language of the text and respond in that SAME language. Return ONLY a JSON object with two keys: 'summary' (3-5 sentence summary) and 'questions' (array of exactly 5 short questions). Example: {\\\"summary\\\": \\\"...\\\", \\\"questions\\\": [\\\"سؤال 1؟\\\"]}\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": \"Generate a summary and 5 important questions based on this text:\\n\\n\" + $('Postgres').all().map(i => i.json.chunk_text).join('\\n\\n')\n      }\n    ],\n    \"temperature\": 0.5,\n    \"response_format\": {\n      \"type\": \"json_object\"\n    }\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "id": "dde29642-b49e-44fd-9859-8486da970c5e",
      "name": "deepseek",
      "executeOnce": true,
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "deepseek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deepseek": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4b0b84b0-ab10-4deb-8902-53377be08f66",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "284df5d3a62082a592e73574411ea9242c9a3d80f9f945c82702468ff453b3c3"
  },
  "id": "mTT61zfcAgNxfwGx",
  "tags": []
}