N8N Workflows/get-file.json
{
  "name": "get-file",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-file",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "470fe421-6db6-46d4-8a9b-7de615e09e50",
      "name": "Webhook",
      "webhookId": "a7c9142b-24de-40d1-b6ae-e936bb94252d"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT encode(file_data, 'base64') as file_data, source_type,\nCASE source_type\n  WHEN 'pdf' THEN 'application/pdf'\n  WHEN 'docx' THEN 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'\n  WHEN 'xlsx' THEN 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'\n  ELSE 'application/octet-stream'\nEND as mime_type\nFROM documents WHERE id = '{{ $json.body.document_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "6bfa57e2-f3d1-4d8d-9631-f537ada17c5d",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "oLbSC2zbJfqCqrvY",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "1d60b3c7-dcf0-42fa-add1-13d33b309820",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5af1139a-e4bb-4be1-a31d-8174c94d68b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "284df5d3a62082a592e73574411ea9242c9a3d80f9f945c82702468ff453b3c3"
  },
  "id": "o7QjwxTdjMFbXC6r",
  "tags": []
}