N8N Workflows/RAG PDF Pipeline (1).json
{
  "name": "RAG PDF Pipeline",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer API-KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $json.input }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        288
      ],
      "id": "a3078d35-ba23-4704-878e-faa72d67e47d",
      "name": "OpenAI Embedding Request",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -448,
        288
      ],
      "id": "b04ba9c0-cdd0-4f84-b476-7b9c2083408d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"success\": true }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        288
      ],
      "id": "2822d0f0-35a5-4d68-8fe3-5aff25638abc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        288
      ],
      "id": "47be5288-2980-48fa-8923-d8d4c2e2e591",
      "name": "Webhook",
      "webhookId": "c5196958-9de4-4b3b-9ee8-b94f9ef3aa78"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pdfs (name, size_bytes, tokens_used, duration_ms)\nVALUES ($1, $2, $3, $4)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.name }},{{ $json.size_bytes }},{{ $json.tokens_used }},{{ $json.duration_ms }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        288
      ],
      "id": "287659b6-f391-415a-8262-2f8f3fb304f1",
      "name": "Insert PDF",
      "credentials": {
        "postgres": {
          "id": "p26AYoDTCVsFKQaV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chunks (pdf_id, chunk_text, embedding)\nVALUES ($1, $2, $3::vector);",
        "options": {
          "queryReplacement": "={{ [$json.pdf_id, $json.chunk_text, $json.embedding] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        288
      ],
      "id": "290c2abe-9edc-49e7-b44b-ff1587f62ad2",
      "name": "Insert Chunks",
      "credentials": {
        "postgres": {
          "id": "p26AYoDTCVsFKQaV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chunkSize = 1000;\nconst overlap = 100;\nconst batchSize = 100;\nconst chunks = [];\nconst fullText = $input.all()[0].json.text;\n\nfor (let i = 0; i < fullText.length; i += (chunkSize - overlap)) {\n    let chunk = fullText.substring(i, i + chunkSize);\n    chunk = chunk.replace(/\\s+/g, ' ').trim();\n    if (chunk.length > 50) {\n        chunks.push(chunk);\n    }\n}\n\nconst results = [];\nfor (let i = 0; i < chunks.length; i += batchSize) {\n    results.push({\n        json: {\n            input: chunks.slice(i, i + batchSize)\n        }\n    });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        288
      ],
      "id": "98dbe351-84a5-446d-92bb-9be7b00e1e9f",
      "name": "Chunking and Batching"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nreturn [{\n  json: {\n    startTime: Date.now()\n  },\n  binary: item.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        288
      ],
      "id": "59894d7b-e2a6-4ca9-99b6-8420963a0d20",
      "name": "Start Time"
    },
    {
      "parameters": {
        "jsCode": "const startTime = $('Start Time').first().json.startTime;\nconst endTime = Date.now();\nconst duration_ms = endTime - startTime;\n\nconst allEmbeddingItems = $('OpenAI Embedding Request').all();\nconst tokens_used = allEmbeddingItems.reduce((sum, item) => \n  sum + (item.json.usage?.total_tokens || 0), 0);\n\nconst fileInfo = $('Webhook').first().binary.pdf;\nconst size_bytes = Math.round(parseFloat(fileInfo.fileSize) * 1024);\n\nreturn [{\n  json: {\n    name: fileInfo.fileName,\n    size_bytes: size_bytes,\n    duration_ms: duration_ms,\n    tokens_used: tokens_used\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        288
      ],
      "id": "a7c6a4a9-adef-42be-8f25-1b8ef3bc6c43",
      "name": "End Time "
    },
    {
      "parameters": {
        "jsCode": "const pdfId = $('Insert PDF').first().json.id;\n\nconst texts = $('Chunking and Batching').first().json.input; \n\nconst embeddings = $('OpenAI Embedding Request').first().json.data;\n\nreturn texts.map((text, index) => {\n  return {\n    json: {\n      pdf_id: pdfId,\n      chunk_text: text,\n      embedding: `[${embeddings[index].embedding.join(',')}]` \n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        288
      ],
      "id": "fd3227f4-eabc-450c-bb72-8e4adc398579",
      "name": "Prep For Chunks"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Embedding Request": {
      "main": [
        [
          {
            "node": "End Time ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Chunking and Batching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Start Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert PDF": {
      "main": [
        [
          {
            "node": "Prep For Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Chunks": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunking and Batching": {
      "main": [
        [
          {
            "node": "OpenAI Embedding Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Time": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End Time ": {
      "main": [
        [
          {
            "node": "Insert PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep For Chunks": {
      "main": [
        [
          {
            "node": "Insert Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c2a97339-0a8e-4331-884f-f4e307664e85",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "284df5d3a62082a592e73574411ea9242c9a3d80f9f945c82702468ff453b3c3"
  },
  "id": "ECa0UGMZo1WLGxck",
  "tags": []
}